.first-section{
  background-color: purple;
}

.second-section{
  background-color: pink;
}


.third-section{
  background-color: yellow;
}

.section-container{
  height: 500px;
}

.section-content{
  width: 70%;
  margin: auto;
}
